doctype html
html 
    head 
        link(rel="stylesheet", href="../assets/css/main.css")
    body  

        include ./layout/_navigation

        h1 Sample h1
        h2 Sample h2
        h3 Sample h3

        include ./layout/_footer   